<link rel="stylesheet" href="/css/style.css">

<div class="container">
    <div class="row">
        <div class="col s12"></div>
        <h1>Wacky Widgets</h1>
        <section>
            <% widget.forEach(w => { %>
            <p><%=w.description%></p>
            <p><%=w.quantity%></p>
            <form method="POST" action="/<%=w.id%>?_method=DELETE">
                <button type=submit>Delete</button>
            </form>
            <%})%>
        </section>
        <% if (widget.length == 0) { %>
         <h1>No Widgets Exists!</h1>
        <% } %>

        <hr>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Add Widget</h4>
                <form method="POST" action="/">
                    <label for="description">Description</label>
                    <input name="description" type="text">
                    <label for="quantity">Quantity</label>
                    <input name="quantity" type="integer">
                    <button type="submit">Submit</button>
                </form>
        </div>
    </div>
</div>